#prostorzasliku {
    z-index: 1;
    position: absolute;
    top: -75px;
	height: 300px;
	width: 500px;
}	
#sabirnica_naslov1 {
	position: relative;
	top: 250px;
	left: 20px;
}
#sabirnnica_naslov2 {
	position: relative;
	top: 275px;
	left: 20px;
}
#pdal1 {
	float: left;
	position: relative;
	top: 350px;
	left: 120px;
}
#rdal1 {
	float: left;
	position: relative;
	top: 275px;
	left: 35px;
}
#rdal2 {
	float: left;
	position: relative;
	top: 275px;
	left: 55px;
}
#rdal3 {
	float: left;
	position: relative;
	top: 410px;
	left: -30px;
}

/*spojno polje*/
#psp1 {
	float: left;
	position: relative;
	top: 325px;
	left: 120px;
}
#rsp1 {
	float: left;
	position: relative;
	top: 270px;
	left: 35px;
}
#rsp2 {
	float: left;
	position: relative;
	top: 270px;
	left: 55px;
}

.status {
	position: absolute;
	height: 500px;
	width: 500px;
	top: 60px;
	right: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	float: right;
	z-index: 1000;
}