#prostorzasliku {
    z-index: 1;
    position: absolute;
    top: -75px;
    left: 70px;
	height: 300px;
	width: 500px;
}	
#sabirnica_naslov1 {
    z-index: 5;
	position: relative;
	top: 251px;
	left: 15px;
}
#sabirnnica_naslov2 {
    z-index: 5;
	position: relative;
	top: 263px;
	left: 15px;
}
#pdal1 {
    z-index: 5;
	float: left;
	position: relative;
	top: 350px;
	left: 120px;
}
#rdal1 {
    z-index: 5;
	float: left;
	position: relative;
	top: 275px;
	left: 35px;
}
#rdal2 {
    z-index: 5;
	float: left;
	position: relative;
	top: 275px;
	left: 55px;
}
#rdal3 {
    z-index: 5;
	float: left;
	position: relative;
	top: 410px;
	left: -30px;
}

#rdal6 {
    z-index: 5;
    float: left;
	position: relative;
	top: 455px;
	left: -155px;
    transform: rotate(90deg);
}

/*spojno polje*/
#psp1 {
    z-index: 5;
	float: left;
	position: relative;
	top: 325px;
	left: 120px;
}
#rsp1 {
    z-index: 5;
	float: left;
	position: relative;
	top: 270px;
	left: 35px;
}
#rsp2 {
    z-index: 5;
	float: left;
	position: relative;
	top: 270px;
	left: 55px;
}

#uze {
    float: left;
	position: relative;
	top: 455px;
	left: -130px;
}

.stanjeDV, .stanjeSV, #naponSV, #naponDV {
    float: left;
	position: absolute;
	top: 160px;
}

.stanjeSV, #naponSV {top: 190px;}

#naponSV, #naponDV {left: 225px;}

#stanjeDV, #stanjeSV {
    padding: 5px;
    border-radius: 5px;
    float: left;
	position: absolute;
	top: 164px;
    left: 205px;
    background-color: #0f0;
}

#stanjeSV {
    background-color: #f00;
    top: 194px;
}

.status {
	position: absolute;
    padding: 5px;
	height: 240px;
	width: 490px;
	top: 90px;
	right: 0px;
	border-style: solid none solid solid;
	border-width: 3px;
	border-color: black;
    border-radius: 10px 0px 0px 0px;
	float: right;
	z-index: 1;
    background-color: #FBFBFB;
}

.err {
	position: absolute;
    padding: 5px;
	height: 240px;
	width: 490px;
	top: 346px;
	right: 0px;
    outline: 1px dashed black;
	outline-style: dashed none solid solid;
	outline-width: 3px;
	outline-color: red;
    outline-radius: 0px 0px 0px 10px;
	float: right;
	z-index: 1;
    background-color: rgba(255, 240, 240, 1);
}