body {
   font-family: helvetica;
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #DDDDE7;
}

#navbar {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
}

ul {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
    z-index: 200;
    position: relative;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    z-index: 200;
    position: relative;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    z-index: 200;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#popup{
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(32, 32, 32, 0.9);
    color: #EEE;
    position: relative;
    font-family: Helvetica;
    word-wrap: break-word;
    width: 39%;
    visibility: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #333;
    z-index: 50;
}

.alright {
    text-align: center;
}